# direnvを使用してNix開発環境を自動的に有効化
# direnvをインストール済みの場合、このディレクトリに入ると自動的にNix環境がロードされます
#
# セットアップ:
#   1. direnvをインストール: nix profile install nixpkgs#direnv
#   2. シェル設定に追加 (bash): echo 'eval "$(direnv hook bash)"' >> ~/.bashrc
#   3. このディレクトリで: direnv allow

use flake
